body{
    font-family: 'Lato';
    background-color:#f1f1f1;
    margin:0px;
}
div.content{
    overflow:auto;
    padding:5px 5px 0 5px;
    color:#262626;
    height:100%;
}
div.content h2{
    margin-top: 0px;
}
div.menu{
    padding:0px;
    background-color:#262626;
    width:250px;
    height:100%;
    float: left;
    border-style:dashed;
    border-width:0 1px 0 0;
    border-color:#FFF;
    margin:0px;
}
div.menu h1{
    margin:5px 0 0 10px;
    color:#FFF;
    text-shadow: 4px 4px #4D4D4D;
}
div.menu a{
    color:#f1f1f1;
    padding-left:5px;
    display:block;
    text-decoration:none;
}
div.menu ul{
    color:#f1f1f1;
    padding:0px;
    font-size:30px;
    display:block;
    margin-bottom:10px;
}
div.menu a:hover{
    background-color:#7e7e7e;
    text-decoration: underline;
}
div.twitter-bar{
    float:right;
    padding-left:5px;
    border-style:dashed;
    border-width:0 0 0 1px;
    border-color:#262626;
    height:100%;
    position:relative;
}
blockquote{
    color:#808080;
}
p sup{
    font-style:italic;
}
blockquote{
    font-style:italic;
}
.headline h2, .headline p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;    
}
.headline h2 {
    font-weight: bold;
}
